/* --- Universal Selectors --- */
*, *:before, *:after {
    box-sizing: inherit;
}

/* --- Type Selectors --- */
div {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

html {
    font-size: 1rem;
    line-height: 1.4;
    color: black;
    box-sizing: border-box;
}

body {
    text-align: left;
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.5;
}

header {
    border-bottom: 5px solid #dedede;
}

footer {
    border-top: 1px solid black;
    margin-top: 10rem;
}

/* --- Class Selectors --- */
.title {
    margin: 1rem;
}

.finder {
    padding: 5rem;
    margin: 5rem;
}

.footer {
    margin: 1rem;
}